{
    "environments":[
        { "name":"PRD",
          "description":"Production",
          "alias":"P",
          "default":true,
          "connect": { "user"          : "piet"
                    ,  "password"      : "ww1"
                    ,  "connectString" : "localhost:21521/HERA" }
        },
        { "name":"TST",
          "description":"Test environment",
          "alias":"T",
          "default":false,
          "connect": { "user"          : "sjaak"
               ,       "password"      : "ww2"
               ,       "connectString" : "localhost:21521/ZEUS" }
        },
        { "name":"DEV",
            "description":"Development environment",
            "alias":"D",
            "default":false,
            "connect": { "user"          : "carlos"
                 ,       "password"      : "ww3"
                 ,       "connectString" : "localhost:21521/demeter" }
        }
    ]
}
